In [1]:
# 모듈 불러오기
import pandas as pd

In [2]:
# 데이터 프레임 생성
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [4]:
# 열 기준 데이터 업데이트
def extract_year(column):
    return column.split("-")[0]
df['year'] = df['yyyy-mm-dd'].apply(extract_year)
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [6]:
# 열 기준 데이터 업데이트
def get_age(year, current_year):
    return current_year - int(year)
df['age'] = df['year'].apply(get_age, current_year = 2018)
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   18
1  2002-09-24  2002   16
2  2005-12-20  2005   13

In [9]:
# 열 기준 데이터 업데이트
def get_introduce(age, prefix, suffix):
    return prefix + str(age) + suffix
df['introduce'] = df['age'].apply(get_introduce, prefix="I am ", suffix=" year old")
df

   yyyy-mm-dd  year  age         introduce
0  2000-06-27  2000   18  I am 18 year old
1  2002-09-24  2002   16  I am 16 year old
2  2005-12-20  2005   13  I am 13 year old

In [12]:
# 열 기준 데이터 업데이트 - 여러 열 활용
def get_introduce_2(row):
    return "I was born in " + str(row.year) + ". my age is " + str(row.age)
df.introduce = df.apply(get_introduce_2, axis = 1)
df

   yyyy-mm-dd  year  age                         introduce
0  2000-06-27  2000   18  I was born in 2000. my age is 18
1  2002-09-24  2002   16  I was born in 2002. my age is 16
2  2005-12-20  2005   13  I was born in 2005. my age is 13