In [1]:
# 모듈 불러오기
import pandas as pd

In [12]:
# 데이터 프레임 생성 1way
friend_dict_list = [{'name':'John', 'age':25, 'job':'student'},
                   {'name':'Nate', 'age':30, 'job':'teacher'}]
df = pd.DataFrame(friend_dict_list)
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [13]:
# 데이터 프레임 열 순서 변경
df = df[['name', 'age', 'job']]
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [14]:
from collections import OrderedDict

In [17]:
# 데이터 프레임 생성 2way
friend_ordered_dict = OrderedDict(
    [
        ('name', ['John', 'Nate']), 
        ('age', [25, 30]),
        ('job', ['student', 'teacher'])
    ]
)
df = pd.DataFrame.from_dict(friend_ordered_dict)
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [22]:
# 데이터 프레임 생성 3way
friend_list = [
    ['John', 20, 'student'],
    ['Nate', 30, 'teacher']
]
column_name = ['name', 'age', 'job']
df = pd.DataFrame.from_records(friend_list, columns = column_name)
df

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [24]:
# 데이터 프레임 생성 4way
friend_list = [
    ['name', ['John', 'Nate']],
    ['age', [20, 30]],
    ['job', ['student', 'teacher']]
]
df = pd.DataFrame.from_items(friend_list) # 이건 오류
df

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [27]:
# 데이터 프레임 저장 - 인덱스, 헤더 True
df.to_csv('data/friends.csv')

# 데이터 프레임 저장 - 인덱스, 헤더 설정
df.to_csv('data/friends.csv', index = True, header = True)

# 데이터 프레임 저장 - 인덱스, 헤더, NaN value 설정
df.to_csv('data/friends.csv', index = True, header = True, na_rep = '-')